{% extends 'base.html' %}
{% block page_title %}Bugs Page{% endblock %}
{% block head_js %}

{% endblock head_js %}
{% block content %}

<div class="row row-flex">
    
    <div class="container">
        <h1>All Bugs</h1>
        <div class="instructions ">
            For Bugs, you can only vote for each bug once and not your own.
        </div>
        <div><button ><a href="add">Add a bug</a></button></div>
        </br>
        
        {% for bug in bugs %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel">
                <div class="panel-body text-center">
                    <h3 class="panel-heading panel-primary"><span id= bugName, data={{ bug.name }} > {{ bug.name }} </span></h3>
                    <h2 class="panel-title "> <strong>Status : {{ bug.get_status_display }}</strong></h2><br>
                    <p id="id"><strong>ID:</strong> {{ bug.id }}</p>
                    <p class="product-description"><strong>Description:</strong>{{ bug.description|truncatewords:7  }}</p>
                    <p class="badge badge-primary"><span class="glyphicon glyphicon-star" aria-hidden="true">{{ bug.vote }}</span></p><br>
                    <a class="btn btn-primary" role="button" href="{% url 'viewbug' bug.id %}">view for {{ bug.id }}</a>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

