{% extends 'base.html' %}

{% block content %}
<script>
   
$(document).on("click", "#likesButton", function(){
    var token = '{{csrf_token}}';
    
    var bug_id = document.getElementById("id");
    var bugid = bug_id.firstChild.nodeValue;
        $.ajax({
            type: 'GET',
            data: {
              bug_id: bugid
            },
            url: "{% url 'likes' %}"
          })
          .done(function(data) {
              if(data.success) {
                  $("#likesButton").fadeOut(100).fadeIn(100);
                  $("#likesButton").text(data.likes);
                  alert(data.success);
              } else 
              { 
                alert(data.error);
              }
          });
});
   

</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 display panel">
            <div class="panel-body">
                <h3 class="panel-heading panel-primary"> Name: <span id= bugName, data={{ bug.name }} > {{ bug.name }} </span></h3>
                <h2 class="panel-title "> <strong>Status :</strong> {{ bug.get_status_display }}</h2><br>
                <p ><strong >ID:</strong> <span id="id"> {{ bug.id }} </span></p>
                <p id="created_date"><strong>Creation date:</strong> {{ bug.created_date }}</p>
                <p><strong>Author:</strong> {{ bug.author }}</p>
                <p class="product-description"><strong>Description:</strong>{{ bug.description|truncatewords:7  }}</p>
                <button id="likesButton" class="badge badge-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true">{{ bug.vote }}</span></button> Click to Upvote<br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'create_post_bug' bug.id %}"><span class="comment">Add Comment</span></a><br>
        </div>
    </div>
        
   

   
       {% for post in posts %}
        <div class="post_block">
            <div class="row">
                <div class="col-xs-4 col-sm-6">
                    <h4><strong>Published Date : </strong>{{ post.published_date }}</h4>
                    <h4><strong>Title : </strong>{{ post.title }}</h4>
                    <h4><strong>Author : </strong>{{ post.author }}</h4>
                </div>
                <div class="col-xs-8 col-sm-6">
                    <h4 class="content_heading"><strong>Content</strong> : </h4>
                    <h4>{{ post.content }}</h4>
                </div>
            </div>
        </div>
    {% endfor %}  
    <br>
     
</div>

{% endblock %}