{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}
<div class="container">
    <form method ="POST">
        <br>
        <h3 class="passwrd-ints">Please enter your email address and an email will be sent so you can update you password</h3>
        <br>
        {% csrf_token %}
        
        {{ form.email.errors }}
        <p class="passwrd-ints form-group col-xs-6 col-xs-offset-3">
            <label for="id_email">Email address:</label>
            {{ form.email }}
            <br>
        </p>
        <div class="col-xs-4 col-xs-offset-4">
            <button class="btn btn-primary"> Reset Password </button>
        </div>
    </form>
</div>
{% endblock %}