{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}
<div class="container">
    <form method ="POST">
        <br>
        <h4>PLease enter your email address and an email will be sent so you can update you password</h4>
        <br>
        {% csrf_token %}
        
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email address:</label>
            {{ form.email }}
            
            <button> Reset Password </button>
        </p>
    </form>
</div>
{% endblock %}