{% extends 'base.html' %}
{% block page_title %}Features Page{% endblock %}
{% block content %}
<div class="container">
    <h1>All Features</h1>
    <div class="instructions">
        For Features, you can vote for as many features as you like and as many times as you like (can increase the quantity), but each vote will cost 100 euros.
    </div>
    <div><button><a href="{% url 'create_feature' %}">Add Feature</a></button></div>
    <div class="row row-flex">
    <br>
        {% for feature in features %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel">
                <div class="panel-body text-center">
                    <h3 class="panel-heading panel-primary"><span data={{ feature.name }}> {{ feature.name }}</span></h3>
                    <h5 class="panel-title"><strong>Status:</strong>{{ feature.get_status_display }}</h5><br>
                    <p><strong>Feature ID:</strong> {{ feature.id }}</p>
                    <p class="feature-description"><strong>Description:</strong>{{ feature.description|truncatewords:7 }}</p>
                    <p><strong>Price:</strong> {{ feature.price }}</p>
                    <p class="badge badge-primary"><span class="glyphicon glyphicon-star" aria-hidden="true">{{ feature.vote }}</span></p>
                    <form method="post" action="{% url 'add_to_cart' feature.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required></input>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                </span>
                        </div>
                    </form> 
                    <br>
                    <a class="btn btn-primary" role="button" href="{% url 'viewfeature' feature.id %}">view for {{ feature.id }}</a>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>

{% endblock %}