{% extends 'base.html' %}
{% block page_title %}Feature Form{% endblock %}
{% block content %}
{% load bootstrap_tags %}

<div class="container">
    <h1>To Add a Feature</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group col-xs-12">
            {{ form | as_bootstrap }}
        </div>
        <div class="input-group-btn col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
        </duv>
        
    </form>
</div>
{% endblock %}