html {
  height: 100%;
}

body {
    font-family: Arial;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/*navbar on large screen*/
.navbar-fixed-top{
    padding:0;
    margin-bottom: 50px;
    background-color:#21283f;
}

/*   nabar for smaller screens */
.navbar-dropdown{
    font-size: larger;
}
.navbar-dropdown span:hover{
    color:#337ab7;
}

/*display menu when hover over hambuger icon on small screens*/
.navbar-dropdown:hover .menu-dropdown{
    display: block;
    padding-right:10px;
    padding-left:20px;
    line-height:1.5;
}
/* for drop down menu. only display on smaller screen */
.menu-dropdown {
    background-color: black;
    position: absolute;
    display: none;
    z-index: 1;
}

.menu-dropdown li{
    display: inline-block;
}

.menu-dropdown a:hover{
    color: white;
}

/* footer information */
/*keep at bottom of page*/
.bg-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/*icon links with footer */
.copyright{
    color:#337ab7;
}
.social-links{
    text-align: right;
}

.social-links i {
    font-size:20px;
    color: #337ab7;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
}

.social-links i:hover{
    color:white;
}

.list-inline{
    display:inline;
}


/*main image on background */
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/static/img/400dpiLogo.png');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/400dpiLogo.png');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/400dpiLogo.png');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/400dpiLogo.png');
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/400dpiLogo.png');  
    overflow:auto;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size:  contain;
    -ms-background-size: contain;
    background-position: center;
    min-height: 200px; /*added so would display on IE */
    height: 100%;
    position: relative; 
}
/* display better in bigger screen with extra padding at the top and image picture with greater height*/
@media screen and (min-width: 768px) {
   body{
        padding-top: 50px; 
    }
    form{
        width: 50%;
    }
    .hero-image{
        min-height: 300px;
    }
} 

@media screen and (min-width: 991px)  {
    body{
        padding-top: 50px; 
    }
    .hero-image{
            min-height: 400px;
    }
    form{
        width: 50%;
    }
}

/*pop up message */
.messages{
    background-color:#ff3333;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    text-transform: capitalize;
    line-height: 3;
    font-size: larger;
    font-weight: 500;
    text-align: center;
}
/*heading on each page*/
h1 {
    color:#337ab7;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    text-transform: capitalize;
}

/*home page heading */
.indexheading{
    text-decoration: underline;
}

/*home page content */
.indexcontent{
    font-size: larger;
}

/*profile page if not features or bugs */
.profiletext{
    font-size: larger;
    margin: 30px;
}
/* home page stats table*/
td {
  font-weight: 800;
  color:red;
  
}
.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*likes badge */
#likesButton:hover{
    opacity: 0.4
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color:#337ab7;
}

/*panels */
.panel-title{
    color:red;
}
.panel-heading{
    text-transform: capitalize;
    width: 100%;
    height: 15%;
    word-wrap: break-word; 
    background-color: #337ab7;
    color: white;
}

.panel-body {
    height: 100%;
    border: 1px;
    box-shadow:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

/*checkout panel*/
caption p {
    word-wrap: break-word;
}

/*for feature and bugss*/
.instructions{
    margin: 20px 0px;
    border: solid;
    border-color: red;
    padding: 5px;
    font-size: larger;
    font-weight: 500;
    text-align: center;
}
/*align panels */
.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
/*feature description*/
.feature-description {
    min-height: 40px;
}
/*add comment link*/
.comment {
    font-size: larger;
}
/*posts*/
.post_block{
    border: 1px;
    padding: 10px;
    margin-top:20px;
    box-shadow:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    
}
.content_heading{
    margin-right: 100px;
    border-bottom-style:solid;
}

/* all forms */
form{
    width: 75%;
    margin: 0 auto;
}

.form-style{
    background-color: #ffffcc;
    padding: 30px 30px 30px 30px;
}


.button_style{
    text-align: center;
}

