{% extends 'base.html' %}
{% block page_title %}Statistics{% endblock %}
{% block head_js %}

{% endblock head_js %}
{% block content %}
<div class="container">
<h1>Site Dashboard</h1>


    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <h5>Features vs Bugs Break down</h5>
            <div id="pie_bug_feature"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h5>Top Five Bugs with Most Likes</h5>
            <div id="chart_user_likes"></div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h5>Top Five Features with most likes</h5>
            <div id="chart_user_likes2"></div>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h5>Top Five User's for creating bugs</h5>
            <div id="chart_user_bug"></div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h5>Top Five User's for creatin Features</h5>
            <div id="chart_user_feature"></div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-queue.v3.min.js"></script>
<script type="text/javascript" src="/static/js/mycharts.js"></script>
{% endblock %}
