{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

    {% block content %}
     
    <div class="container">
     <h1>Login</h1>
     <div class="form-style">
        <form method ="POST">
            {% csrf_token %}
            {{ login_form | as_bootstrap}}
            <div class="button_style">
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
        </form>
    </div>
        <div class="button_style">
            <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>       

    {% endblock %}

        
    
